<% @desc_tit = "Usuarios" %>
<div class="der">
<table>
<% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.avatar.url(:thumb) %></td><td><%= link_to user.name, user_posts_path(user.id) %></td>
    <td><%= user.email %></td>
      <% if admon_user %>
        <td>
          <% if user != current_user  %>
            <%= link_to "Eliminar Usuario", user_path(user), :method => "delete", :confirm => "¿Realmente deseas eliminar este usuario?" %>
          <% end %>
        </td>
      <% end %>
  </tr>
<% end %>
</table>
</div>