<div class="der">
<table>
<% @users.each do |user| %>
  <tr>
    <td></td><td><%= user.name %></td>
    <td><%= user.email %></td>
      
        <td>
      
            <%= link_to "Eliminar Usuario", user_path(user), :method => "delete", :confirm => "¿Realmente deseas eliminar este usuario?" %>
      
        </td>
      
  </tr>
<% end %>
</table>
</div>