<% @desc_tit = "Crear Tu Cuenta" %>
<div class="content_logout">
<h1>Crear Cuenta</h1>

<%= render 'form' %>
<div id="mensaje_si_logout">Si ya tienes cuenta <%= link_to "Inicia Sesión", signin_path %></div>

</div>