<% @desc_tit = "Detalles de Usuario" %>
<div class="der">
<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Email</th>
    <th>Creado</th>

  </tr>
  <tr>
    <td><%= @user.id %></td>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td>
    <td><%= @user.created_at %></td>
  </tr>
</table>
</div>