<% @desc_tit = "Detalle" %>
<div class="der">
<table>
  <tr>
    <th>Id</th>
    <th>Estado</th>
    <th>Fecha de Creación</th>
    <th>De</th>
  </tr>
  <tr>
    <td><%= @post_shown.id %></td>
    <td><%= @post_shown.estado %></td>
    <td><%= @post_shown.created_at %></td>
    <td><%= @post_shown.user.name %></td>
  </tr>
</table>
</div>